@import "../../global.scss";

.divMainPortfolio{
    background-color: $StrikingAndSimpleTwo;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;
        margin-top: 80px;

        @include mobile{
            font-size: 30px;
            margin-top:60px;
        }
    }

    ul{
        margin: 10px;
        padding:0;
        list-style: none;
        display: flex;
        cursor: pointer;


        @include mobile{
            flex-wrap: wrap;
            justify-content: center;
        }

        li{
            margin-right: 50px;
        }

    }

    .divContainer{
        width: 70%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;


        @include mobile{
            width: 100%;
        }
        
    }
    
}