@import "../../global.scss";

.divMainWorks{
    background-color: maroon;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;

    .arrow{
        height: 60px;
        position: absolute;
        cursor:pointer;

        &.left{
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right{
            right: 100px;
        }
    }




    .divSlider{
        height: 500px;
        position: absolute;
        display: flex;
        left:0;
        

        .divContainer{
            width: 100vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .divWorksItem{
                width: 900px;
                height: 100%;
                border-radius: 20px;

                display: flex;
                align-items: center;
                justify-content: center;


                .divLeft{
                    flex:4;
                    height:80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    .divLeftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
    
    
                        .divImgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(236, 108, 61);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
    
                            img{
                                height: 25px;
                            }
                        }
                        h2{
                            font-size: 20px;
                        }
    
                        p{
                            font-style: 13px;
                        }
    
                        span{
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                        }

                        .divTechnologies{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: right;

                            ul{
                                list-style: none;


                                li{
                                    font-weight: 600;
                                }
                            }
                        }
    
                    }
                }

                

                .divRight{
                    flex:8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    // border-radius: 20px;


                    img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }

                }
            }
        }
    }


}
