.App {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    .sections {
        width: 100%;
        height: calc(100vh -70px);
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;

        scrollbar-width: 0;
        transition: all 1s ease;

        &::-webkit-scrollbar {
            display: none;
        }

        & > * {
            height: 100vh;
            scroll-snap-align: start;
        }
    }
}
